<!DOCTYPE html>
<html {% if page_lang %}lang="{{ page_lang }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}</title>
    {%- if page_desc %}
    <meta name="description" content="{{ page_desc }}">
    {%- endif -%}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.css" rel="preload" as="style">
    <script defer src="/static/js/bootstrap.min.js"></script>
    <script async src="/static/js/vue.js"></script>
    <script defer src="/static/js/vuex.js"></script>
    {%- block head -%}
    {%- endblock head %}
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>